.container{
    display: inline-block;
    text-align: center;
    margin: 20px;
}


.hotel_thumbnail{
    position: relative;
    height: 300px;
    width: 400px;
}

.hotel_thumbnail img{
    height: 100%;
    width: 100%;
}
