.search_layout_container{
    padding: 50px;
}

.display_flex_inline{
    display: inline-flex;
}

.search_form{
    display: inline-grid;
    border: solid 1px #878787;
    padding: 20px;
    height: fit-content;
    left: 0;
    border-radius: 5px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
    box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
}

.icon_left{
    position: absolute;
    left: 0;
    margin-left: 20px;
}

.grouped_input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grouped_input div{
    width: 100px;
}

.price_range_labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.price_range_labels div{
    color: #000000;
    padding: 5px;
    width: 80px;
}


.price_range_values{
    font-weight: bold;
    color: #3f51b5;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}


