.horizontal_bar_options{
    border: solid 1px black;
    height: 50px;
    width: 64%;
    margin: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;

    border: solid 1px #878787;
    border-radius: 5px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
    box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
}

.horizontal_bar_options div{
    width: 200px;
}


.result_thumbnail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
}

.results_header{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
}

.map_results_container{
    margin-top: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
    box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
    padding: 10px;
    width: fit-content;
}

.map_results{
    position: relative;
    height: 230px;
    width: 230px;
}

.map_results img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}


.activity_indicator{
    top: 40%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}


.no_results_message{
    top: 40%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}