.header_container{
    position: absolute;
    top: -80px;
    background-color: rgba(255, 255, 255, 1);
    width: 100vw;
    height: 80px;
    z-index: 5;
    transition: all ease 0.4s;
    border-bottom: solid 1px #686868;
}

.header_container div{
    display: inline-flex;
    height: 100%;
}


.navbar{
    display: none;
    color: #000000;
    right: 0;
    margin-right: 16% !important;
}


.navbar ul li{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 2px;
    margin-right: 4px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    font-size: 20px;
    height: 100%;
    align-items: inherit;
    transition: all 0.4s;
}


.navbar ul li:hover{
    background-color: #8d8d8d36;
}


.fixed_webtitle_menuicon{
    position: absolute;
    height: 80px;
    width: 100vw;
    line-height: 80px;
    top:0;
}


.website_title{
    font-size: 30px;
    color: #000000;
    left: 0;
    top: 2%;
    margin-left: 10% !important;
    cursor: pointer;
    font-family: playfair;
    z-index: 10;
    width: fit-content;
    position: absolute;
    transition: all ease 0.4s;
}

.menu_icon{
    position: absolute;
    right: 0;
    margin-right: 10% !important;
    cursor: pointer;
    height: 40px;
    fill: #000000;
    width: 40px;
    top: 0;
    bottom: 0;
    z-index: 10;
    transition: all ease 0.4s;
    margin: auto;
}

.user_profile_picture_header{
    height: 55px !important;
    width: 55px !important;
    color: #686868;
}


.user_profile_picture_header_container{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.align_flex{
    display: flex;
    align-items: center;
    margin: 0;
}


.link_menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.flag_header{
    margin-right: 10px;
}
/*----------------------RESPONSIVE---------------------------*/

@media screen and (max-width: 930px) {
    .header_container{
      height: 70%;
    }

    .navbar{
        left: 0;
        width: fit-content;
        right: 0;
        margin-left: auto;
        margin-right: auto !important;
    }

    .navbar ul li{
        display: block;
    }
  }
