@font-face {
    font-family: playfair;
    src: url(../../fonts/PlayfairDisplay-Regular.otf);
  }

*{
    font-family: playfair;
}


body{
    overflow-x: hidden
}

.text_align_center{
    text-align: center;
}

.safe_view{
    margin-top: 80px;
}

a:focus, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: inherit;
}