.thumbnail_container{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    height: 300px;
    width: 400px;
    transition: all 0.5s;
    border: solid 1.5px transparent;
    border-radius: 5px;
}

.thumbnail_container:hover{
    border: solid 1.5px #0027ff;
}

.thumbnail_container:hover .thumbnail_overlay{
    opacity: 0.5;
}

.thumbnail{
    position: relative;
    height: 100%;
    width: 100%;
}

.thumbnail img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}


.thumbnail_overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 0.06) 0%, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.64) 100%);
    transition: all 0.5s;
    border-radius: 5px;
}