.submit_form_container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}


.signup_inputs_container{
    display: grid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.close_button{
    width: fit-content;
    height: fit-content;
    position: absolute !important;
    right: 0;
}


.signup_button, .login_button{
    position: relative;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px !important;
}


.popover_help_icon{
    font-size: 30px !important;
    color: #3f51b5;
    cursor: pointer;
}

.typo_popover{
    padding: 20px;
}

.already_have_account:hover{
    color: #3f51b5;
    text-decoration: underline;
    cursor: pointer;
}

.password_input{
    width: 100%;
}

.password_container{
    position: relative;
}

.error_messages_section{
    text-align: center;
    margin-bottom: 20px;
    color: #ff0004;
    height: 20px;
}

.berno_logo{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
}