.user_reviews{
    padding: 20px;
    margin-top: 50px;
    background-color: #0000001c;
    border-radius: 10px;
}

.user_review_sample{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 1px #bfbfbf;
    height: fit-content;
    margin: 30px;
    border-radius: 10px;
    background-color: #ffffff;
}

.left_hand_side_review{
    padding: 10px;
}

.right_hand_side_review{
    width: 100%;
}

.left_hand_side_review{
    border-right: solid 1px #bfbfbf;
}

.profile_picture{
    background-color: #b8b8b8;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.user_profile_pic_sample{
    height: 100% !important;
    width: 100% !important;
    color: #ffffff;
}

.review_header{
    padding: 5px;
    display: flex;
    height: 35px;
    line-height: 35px;
    border-radius: 0px 10px 0px 0px;
    background-color: #3f51b5;
    color: #ffffff;
}

.review_content{
    height: 100%;
}

