
.landing_top_section{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}


.featured_hotels, .featured_countries, .near_location_hotels, .popular_hotel{
    position: relative;
    height: 500px;
    width: 100vw;
}

