
.landing_top_section{
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}


.featured_hotels, .featured_cities, .near_location_hotels, .popular_hotel{
    position: relative;
    height: fit-content;
    width: 100vw;
}


.featured_hotels, .featured_cities, .popular_hotel{
    margin-bottom: 60px;
}


.featured_hotels_thumbnails, .featured_cities_thumbnails, .popular_hotels_thumbnails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 
