
.landing_form{
    position: absolute;
    display: flex;
    right: 0;
    margin-right: 6%;
    bottom: 20%;
    background-color: rgb(255, 255, 255);
    width: 500px;
    padding: 20px;
    height: fit-content;
    border: solid 1px #878787;  

    border-radius: 5px;
    box-shadow: 2px 3px 5px 0px rgba(47,47,47,1);
}


#landing_form_submit{
  color: #ffffff;
  width: 200px;
  height: 30px;
  line-height: 30px;
  padding: 6px;
  background-color: #078313;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.small_search_button{
  height: 60px;
  width: 50px;
  border-radius: 50% !important;
  margin-left: 10px !important;
  position: absolute !important;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5%;
}


.small_search_input{
  width: 85%;
}