
.landing_form{
  position: absolute;
  display: flex;

  padding-left: 5px;
  padding-right: 5px;

  bottom: -5%;
  background-color: rgb(255, 255, 255);
  height: 70px;
  width: 50vw;

  border: solid 1px #878787;
  border-radius: 70px;
  box-shadow: 2px 3px 5px 0px rgba(47,47,47,1);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  z-index: 10;
}


#landing_form_submit{
  color: #ffffff;
  width: 200px;
  height: 30px;
  line-height: 30px;
  padding: 6px;
  background-color: #078313;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.small_search_button{
  height: 60px;
  width: 50px;
  border-radius: 50% !important;
  margin-left: 10px !important;
  position: absolute !important;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1%;
}


.small_search_input{
  position: absolute;
    width: 85%;
    top: 0;
    bottom: 0;
    margin-bottom: auto !important;
    margin-top: auto !important;
    margin-left: 35px !important;
}


.location_icon{
  position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    color: #3f51b5;
}