
.search_form_container{
    position: relative;
    height: 100vh;
    margin-bottom: 50px;
}

.search_layout_container{
    padding: 50px;
}

.search_flex_display{
    display: inline-flex;
}

.search_form{
    display: inline-grid;
    border: solid 1px #878787;
    padding: 20px;
    height: fit-content;
    width: 350px;
    left: 0;
    border-radius: 5px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
    box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
}

.horizontal_bar_options{
    border: solid 1px black;
    height: 50px;
    margin: 50px;


    border: solid 1px #878787;
    border-radius: 5px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
    box-shadow: 2px 3px 5px 0px rgba(122,122,122,1);
}

.search_icon{
    position: absolute;
    left: 0;
    margin-left: 20px;
}

.grouped_input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.spaced_element{
    margin-bottom: 30px !important;
}


.grouped_input div{
    width: 100px;
}