@font-face {
    font-family: playfair;
    src: url(../../fonts/PlayfairDisplay-Regular.otf);
  }


*{
    font-family: playfair;
}


.header_container{
    position: absolute;
    top: -80px;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 80px;
    z-index: 5;
    transition: all ease 0.4s;
    border-bottom: solid 1px #686868;
}

.header_container div{
    display: inline-flex;
}

.website_title{
    font-size: 30px;
    color: #ffffff;
    left: 0;
    top: 2%;
    margin-left: 10% !important;
    cursor: pointer;
    font-family: playfair;
    z-index: 10;
    width: fit-content;
    position: absolute;
    transition: all ease 0.4s;
}

.menu_icon{
    position: absolute;
    right: 0;
    margin-right: 10% !important;
    cursor: pointer;
    height: 40px;
    fill: #ffffff;
    width: 40px;
    top: 2%;
    z-index: 10;
    transition: all ease 0.4s;
}

.navbar{
    display: none;
    color: #000000;
    right: 0;
    margin-right: 20% !important;
}


.navbar ul li{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.center_vertically{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.signup_inputs_container{
    display: grid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.close_button{
    width: fit-content;
    height: fit-content;
    position: absolute !important;
    right: 0;
}


.signup_button{
    position: relative;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px !important;
}