.header_container{
    position: absolute;
    top: -80px;
    background-color: rgba(255, 255, 255, 1);
    width: 100vw;
    height: 80px;
    z-index: 5;
    transition: all ease 0.4s;
    border-bottom: solid 1px #686868;
}

.header_container div{
    display: inline-flex;
}


.fixed_title_icon{
    position: absolute;
    height: 80px;
    width: 100vw;
    line-height: 80px;
}

.website_title{
    font-size: 30px;
    color: #000000;
    left: 0;
    top: 2%;
    margin-left: 10% !important;
    cursor: pointer;
    font-family: playfair;
    z-index: 10;
    width: fit-content;
    position: absolute;
    transition: all ease 0.4s;
}

.menu_icon{
    position: absolute;
    right: 0;
    margin-right: 10% !important;
    cursor: pointer;
    height: 40px;
    fill: #000000;
    width: 40px;
    top: 0;
    bottom: 0;
    z-index: 10;
    transition: all ease 0.4s;
    margin: auto;
}

.navbar{
    display: none;
    color: #000000;
    right: 0;
    margin-right: 16% !important;
}


.navbar ul li{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 2px;
    margin-right: 4px;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.4s;
}

.navbar ul li:hover{
    background-color: #8d8d8d36;
    border-radius: 5px;
}

.center_vertically{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



@media screen and (max-width: 930px) {
    #main_header {
      height: 70%;
    }

    .navbar{
        left: 0;
        width: fit-content;
        right: 0;
        margin-left: auto;
        margin-right: auto !important;
    }

    .navbar ul li{
        display: block;
    }
  }