.submit_form fieldset{
    border-radius: 5px;
}

.section_container{
    padding: 20px;
    border-radius: 5px;
}

.dropzone_files{
    color: red;
}

.arrow_submit_button{
    width: 300px;
}

.arrow_submit_icon{
    position: absolute;
    right: 5%;
}


.flex_aligne_row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.star_picker{
    width: 250px;
}

.map_i_container{
    position: relative;
    height: 300px;
    width: auto;
}