.footer_container{
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #15255d;
    color: #ffffffab;
    padding: 20px;
}


.footer_content{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 15%;
}

.footer_content div{
    border-left: solid 2px #ffffffab;
    height: 190px;
}


.contact_info_list li, .site_map_list li{
    text-align: left;
    margin-bottom: 5px;
}

.site_map_list{
    display: inline-block;
}

.social_media_list li{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.social_media_list li:hover{
    color: #ffffff;
}

.medium_scale{
    font-size: 40px !important;
}




/*--------------------------RESPONSIVE--------------------------*/

@media screen and (max-width: 930px) {

    .footer_content{
        flex-direction: column;
    }

    .contact_info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  }