.submit_form fieldset{
    border-radius: 5px;
}

.section_container{
    padding: 20px;
    border-radius: 5px;
}

.dropzone_files{
    color: red;
}

.arrow_submit_button{
    width: 300px;
}

.icon_right{
    position: absolute;
    right: 5%;
}


.flex_align_row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.star_picker{
    width: 250px;
}

.map_i_container{
    position: relative;
    height: 300px;
    width: auto;
}

.selected_front_pic{
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    width: 400px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#selectedFrontPic{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.hotel_description{
    height: 300px !important;
    width: 500px;
}